doctype html
html
	include common/_head
	body
		<!--[if lt IE 7]>
		<p class="browsehappy">Вы используете <strong>устаревший</strong> браузер. Пожалуйста <a href="http://browsehappy.com/">обновите его</a></p>
		<![endif]-->

		wrap
			header.header
				ul.socials
					li.social-item
						a.icon.icon-vk(href='http://vk.com' target='_blank')
					li.social-item
						a.icon.icon-github(href='http://vk.com' target='_blank')
					li.social-item
						a.icon.icon-in(href='http://vk.com' target='_blank')
				img.panel_photo(src="assets/img/photo.png")
				.name Сергей Ермаков
				.desc Личный сайт веб-разработчика
				.bot-border
			section.section-works
				.section-heading Мои работы
				.slider-container
					.slide-desc
						.h2 Сайт школы онлайн образования
						.slide-tehnologies HTML, CSS, JAVASCRIPT
						a.btn.link-btn Посмотреть сайт
					.slide-img-container
						.slide-img
							img(src='assets/img/slide1.png', alt='')
					.slider-arrows
						.arrow-prev
							img(src="assets/img/slide2.jpg")
						.arrow-next
							img(src="assets/img/slide3.jpg")
			section.section-about
				.section-heading Что обо мне <br>говорят
				ul.reviews
					li.review
						span.fa-icon.quoteleft &#xf10d;
						.review-text
							| Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
						img.reviewphoto(src="assets/img/kovaldn.png", alt="")
						.review-whois <b>Ковальчук Дмитрий</b><br> основатель Loftschool
					li.review
						span.fa-icon.quoteleft &#xf10d;
						.review-text
							| Этот код выдержит любые испытания. Только пожалуйста, не загружайте сайт на слишком старых браузерах!
						img.reviewphoto(src="assets/img/zar.png", alt="")
						.review-whois <b>Зар Захаров</b><br> главный преподаватель
				.panel.form-panel
					.h2 Связаться со мной
					ul.panel-menu
						li.panel-menu_menu-item
							a.panel-menu_item_link(href="#") Отправить
						li.panel-menu_menu-item
							a.panel-menu_item_link(href="#") Очистить
						
