include common/_head

.wrap.index
	a.btn.auth-btn Авторизоваться
	.panel-wrap
		.panel
			img.panel_photo(src="assets/img/photo.png")
			.name Сергей Ермаков
			.desc Личный сайт веб-разработчика
			ul.socials.socials_panel
				li.social-icon.vk
				li.social-icon.git
				li.social-icon.linked
			ul.panel-menu
				li.panel-menu_menu-item
					a.panel-menu_item_link(href="#") Мои работы
				li.panel-menu_menu-item
					a.panel-menu_item_link(href="#") Обо мне
				li.panel-menu_menu-item
					a.panel-menu_item_link(href="#") Блог
	.copy © Сергей Ермаков | создано с любовью в LoftSchool | 2016
