footer.footer
	.footer-top
		ul.footer-menu
			li.footer-menu_item
				a(href="#") Мои работы
			li.footer-menu_item
				a(href="#") Обо мне
			li.footer-menu_item
				a(href="#") Блог
			li.footer-menu_item
				a(href="#") Авторизация
		ul.socials
			li.social-item
				a.icon.icon-vk(href='http://vk.com' target='_blank')
			li.social-item
				a.icon.icon-github(href='http://vk.com' target='_blank')
			li.social-item
				a.icon.icon-in(href='http://vk.com' target='_blank')
	.footer-bot
		.footer-bot_left
			| Я веб-разработчик из Москвы, и этот сайт я сделал в рамках <br> обучения в Школе онлайн образования LoftSchool. 
		.footer-bot_right
			| © Сергей Ермаков | создано с любовью в LoftSchool | 2016
script(async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAeex5HGV41oukUzPu9v9-YEQPGmSCxmUY&callback=initMap")
script(src='/assets/js/app.js' defer)
